.my_form{
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 3px;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
}