{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <p>Leave a comment below:</p>
            </div>
        </div>
        <!-- Comments Section -->
        <div class="row">            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h3 id="comments">{{ total_comments_allowed }} Comments</h3>  

                <!-- Comments Go Here -->
                {% for user_comment in allowed_user_comments %}
                    {% include '_allowed_comments.html' %}
                {% endfor %}                


                        <!-- Pagination Links -->
                        <nav aria-label="...">
                            <ul class="pager">
                                <li class="previous{% if not prev_url %} disabled{% endif %}">
                                    <a href="{{ prev_url or '#' }}">
                                        <span aria-hidden="true">&larr;</span> Newer Comments
                                    </a>
                                </li>
                                <li class="next{% if not next_url %} disabled{% endif %}">
                                    <a href="{{ next_url or '#' }}">
                                        Older Comments <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                            

                <!-- Comment Form Goes Here -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- Empty -->
                    </div>                    
                    <div class="col-md-4 my_form">
                        {{ wtf.quick_form(form) }}
                    </div>
                    <div class="col-md-4">
                        <!-- Empty -->
                    </div>
                </div>              
            </div>
        </div>        
{% endblock %}