{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">            
            <div class="col-md-2">
                <!-- Empty div -->
            </div>
            <div class="col-md-8">
                <h1 id="usage-locally">Instructions on How to Use This App Locally</h1>
                <p>Posting Comments</p>
                <ul>
                    <li><p>Click on the &quot;Articles&quot; dropdown link and select one article</p>
                    </li>
                    <li>
                        <p>
                            Post several comments on the 
                            <a href="http://127.0.0.1:5000/article_1">selected article (say article 1)</a> 
                            page using dummy credentials
                        </p>
                    </li>
                </ul>
                <p>Log in as Admin</p>
                <ul>
                    <li>
                        <p>
                            Click on the <a href="http://127.0.0.1:5000/login?next=%2Fadmin">Admin</a> 
                            link in the top-right navbar to access all user comments posted on the blog
                        </p>
                    </li>
                    <li>
                        <p>
                            You will need to <a href="http://127.0.0.1:5000/register">register</a> first, 
                            so create a dummy admin account
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="http://127.0.0.1:5000/login?next=%2Fadmin">Log</a> into the new admin account. 
                            You should be able to see all user comments
                        </p>
                    </li>
                </ul>
                <p>Allow/Delete Posts</p>
                <ul>
                    <li>
                        <p>
                            Choose an article among the cards in the <a href="http://127.0.0.1:5000/admin">Admin</a> page by clicking "Take Action" button
                        </p>
                    </li>
                    <li>
                        <p>
                            Click <em>Delete</em> link to delete a user&#39;s comment
                        </p>
                    </li>
                    <li>
                        <p>
                            Click <em>Allow</em> to allow a user&#39;s comment to appear in the 
                            <a href="http://127.0.0.1:5000/article_1">selected article</a> page
                        </p>
                    </li>
                    <li>
                        <p>
                            Navigate to the <a href="http://127.0.0.1:5000/article_1">selected article 
                            (say article 1)</a> page to see all &quot;Allowed&quot; comments
                        </p>
                    </li>
                </ul>
                <p>Another try</p>
                <ul>
                    <li>
                        <p>
                            Select <a href="http://127.0.0.1:5000/article_2">another article (say article 2)</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            Post several comments on the <a href="http://127.0.0.1:5000/article_2">selected article</a> 
                            page using dummy credentials
                        </p>
                    </li>
                    <li>
                        <p>
                            Click on the <a href="http://127.0.0.1:5000/admin">Admin</a>  
                            link to access all user comments posted on the blog
                        </p>
                    </li>
                    <li>
                        <p>
                            Click <em>Delete</em> link to delete a user&#39;s comment
                        </p>
                    </li>
                    <li>
                        <p>
                            Click <em>Allow</em> to allow a user&#39;s comment to appear in the 
                            <a href="http://127.0.0.1:5000/home"><em>Home</em></a> page
                        </p>
                    </li>
                    <li>
                        <p>
                            Navigate to the <a href="http://127.0.0.1:5000/article_2">selected article (article 2)</a> 
                            page to see all &quot;Allowed&quot; comments
                        </p>
                    </li>
                </ul>
                <p>Final Result</p>
                <ul>
                    <li>You can <a href="http://127.0.0.1:5000/logout">log out</a> as an admin and your 
                        allowed articles should persist in the selected articles&#39; pages
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <!-- Empty div -->
            </div>
        </div>          
{% endblock %}