{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <div class="row">            
            <div class="col-md-12">
                <div class="login-box auth0-box before">
                    <img src="https://i.cloudup.com/StzWWrY34s.png" />
                    <h3>Auth0 Example</h3>
                    <p>Zero friction identity infrastructure, built for developers</p>
                    <a class="btn btn-primary btn-lg btn-login btn-block" href="{{ url_for('login') }}">Log In</a>
                </div>
            </div>            
        </div>          
{% endblock %}
