{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">            
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <h1>Login</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-4">
            <!-- Empty -->
        </div>
        <div class="col-md-4 my_form">
            {{ wtf.quick_form(form) }}
            <p>
                New here?
                <a href="{{ url_for('register') }}">Click here to register</a>
            </p>
            <p>
                Forgot password?
                <a href="#">Reset here</a>
            </p>
        </div>
        <div class="col-md-4">
            <!-- Empty -->
        </div>     
    </div>
{% endblock %}